body {
    font-family: "sens-serif helvica";
    background-color: whitesmoke;
    padding: 30px 120px 30px 120px;
    width: 100%;
}

.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .title {
    font-size: 22px;
    font-weight: bold;
}

.set-option {
    border-bottom: lightgrey;
    margin: 10px;
    padding: 10px;
    width: 50%;
}


